.gathering-data {
  width: 69%;
  height: 450px;
  margin: 0 auto;
  padding: 0px;
}
.gathering-data h2 {
  text-align: center;
  padding: 0px;
}

/* ======================================= */
/* TABLE CSS */
/* ==================== */
/*
table {
  width: 100%;
  padding: 0px;
  border: 1px solid black;
  font-size: 13px;
}
th, td {
  padding: 3px;
  text-align: center;
  color: grey;
  border: 1px solid black;
}
.table-display {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.fixed-rows {
  position: relative;
  top: 0;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.table-container {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: scroll;
}
*/