.home {
  margin: 0px;
  padding: 0px;
}

.images {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.logo {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.pegasus {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 250px;
}
.witch {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 250px;
}

.message-container {
  width: 50%;
  margin: 0 auto;
  padding: 4px;
  background-color: #232324;
  border: 1px solid #6d6d75;
}
.message-container p {
  text-align: center;
  color: #ffedd4;
}