.basic-items-data {
  /* border: 1px solid red; */
  width: 69%;
  height: 500px;
  margin: 0 auto;
  padding: 0px;
}
.basic-items-data h2 { 
  text-align: center; 
  padding: 0px;
}

/* ======================================= */
/* TABLE CSS */
/* ==================== */
table {
  width: 100%;
  padding: 0px;
  border: 1px solid black;
}
th, td {
  width: 150px;
  height: 33px;
  padding: 0.5rem;
  text-align: center;
  color: grey;
  border: 1px solid black;
}
.fixed-rows {
  position: relative;
  top: 0;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.table-container {
  width: 100%;
  height: 500px;
  padding: 0px;
  margin: 0px;
  overflow: scroll;
}