.App {
  position: absolute;
	height: 100%;
	width: 100%;
  top: 0px;
  left: 0px;
}

.message {
	text-align: center;
	color: #ffedd4;
}

/* ======================================= */
/* NAGIVATION */
/* ==================================== */
.navigation-container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  background-color: #745c3c;
}

.navigation-list {
  padding: 5px;
  margin: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
  border-bottom: 1px solid #d2b07d;
}
.navigation-list li {
	padding: 2px 1px;
	margin: 2px;
	list-style-type: none;
}
.navigation-list li a {
	color: #ffedd4;
  font-weight: bold;
	text-decoration: none;
}
.navigation-list li a:hover {
  color: goldenrod;
}

/* ======================================= */
/* OPTION ELEMENT STYLES */
/* ==================================== */
.mastery-selectors {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.mastery-selectors h4 {
  color: #ffedd4;
  margin: 0px;
  padding: 3px;
}
.mastery-selectors p {
  color: #ffedd4;
  font-size: 11px;
  margin: 0px 0px 5px 0px;
  padding: 2px;
}

.mastery-select {
  border: 1px solid #ffedd4;
  background-color: #ffedd4;
  color: #745c3c;
  margin: 2px;
  padding: 3px;
}


/* ======================================= */
/* TABLE CSS */
/* ==================================== */
th, td {
  padding: 3px;
  text-align: center;
}
td {
  color: #ffedd4;
}
.table-display {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.info-row {
  color: #d2b07d;
}
.info-row th {
  border: 1px solid #d2b07d;
}

.range-row {
  border: 1px solid #d2b07d;
}
.range-row td {
  border: 1px solid #d2b07d;
}

.diff-row td {
  color: rgba(0, 201, 0);
  background-color: #00cf0038;
  border: 1px solid rgb(0, 201, 0);
}