.App {
	/* background-color: rgb(36, 28, 49); */
	height: 100%;
	width: 100%;
}
.App h1 {
	text-align: center;
	background-color: #5700b9;
	padding: 4px;
}

.message {
	text-align: center;
	color: goldenrod;
}

/* NAGIVATION */
.navigation-container {
	border: 1px solid red;
}

.navigation-list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border: 1px solid blue;
}
.navigation-list li {
	border: 1px solid orange;
	padding: 4px 7px;
	margin: 2px;
	list-style-type: none;
}
.navigation-list li a {
	color: goldenrod;
	text-decoration: none;
}